.bill-body-left .table-wrapper::-webkit-scrollbar {
    display: none;
}

.bill-header {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border);
    /* padding: 10px 0px; */
}

/* Search Container Input */
.billflex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 6px;
}

.billflex input {
    width: 90%;
    font-weight: var(--fw-sm);
}

.billflex i {
    width: 10%;
    text-align: center;
    border-right: 1px solid var(--border);
}

/* ------- */

.bill-head-left {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-ct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px 15px 15px;
    border-right: 2px solid var(--border);
}

.header-ct h6 {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: var(--fw-sm);
    margin-bottom: 0px;
}

.bill-head-right {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
}

.bill-body {
    display: grid;
    grid-template-columns: 68% 2% 30%;
    align-items: start;
    justify-content: space-between;
}

.bill-body .brdr {
    width: 1.5px;
    height: 100%;
    background-color: var(--border);
    display: block;
    margin: auto;
}

.bill-body-left .dynamic-table {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll hidden;
}

.table tbody input {
    border-radius: 2px;
}

.table tbody .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--primary);
}

.offerbtns {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    align-items: center;
    justify-content: space-between;
}

.details {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
}

.details th {
    font-size: 14px !important;
    font-weight: var(--fw-md) !important;
    color: var(--text-secondary) !important;
    padding: 10px 0px 0px 0px !important;
}

.details td {
    font-size: 14px !important;
    font-weight: var(--fw-md) !important;
    color: var(--text-primary) !important;
    padding: 10px 0px 0px 0px !important;
}

.dynamic-table h6 {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: var(--fw-md);
    margin-bottom: 0px;
}

.dynamic-table h6 span {
    color: var(--text-secondary);
}

/* Additional Charges Popup */
#additional form .col-sm-12 {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    align-items: center;
    justify-content: space-between;
}

#inputTable .listtdbtn {
    padding-block: 6.5px;
    width: 100%;
}