@media screen and (min-width: 1098px) {

    .sidebodydiv .container .row .cards div {
        height: 150px;
        background-color: var(--secondary);
        box-shadow: var(--box-shadow);
    }

    .sidebodydiv .sdbdysearch {
        border: 1px solid var(--border);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        border-radius: 5px;
        height: 37px;
    }

    .sidebodydiv .sdbdysearch input {
        background-color: var(--secondary);
    }

    .sdbdysearch button {
        width: 15%;
        background-color: #6C757D;
        color: var(--secondary);
        border: none;
        height: 37px;
        border-radius: 0px 5px 5px 0px;
        margin: 0;
    }

    .sdbdysearch input {
        width: 85%;
        height: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1098px) {

    .sidebodydiv .container .row .cards div {
        height: 125px;
        background-color: var(--secondary);
        box-shadow: var(--box-shadow);
    }

    .sidebodydiv .container .row .col-md-3,
    .sidebodydiv .container .row .col-md-4 {
        padding-right: 0px;
    }

    .sidebodydiv .container {
        margin: auto 0px;
    }

    .sidebodydiv .sdbdysearch {
        border: 1px solid var(--border);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        border-radius: 5px;
        height: 30px;
    }

    .sidebodydiv .sdbdysearch input {
        background-color: var(--secondary);
    }

    .sdbdysearch button {
        width: 15%;
        background-color: #6C757D;
        color: var(--secondary);
        border: none;
        height: 29px;
        border-radius: 0px 5px 5px 0px;
        margin: 0;
    }

    .sdbdysearch input {
        width: 85%;
        height: 28px;
    }

}

@media screen and (max-width: 768px) {

    .sidebodydiv .container .row .cards div {
        height: 125px;
        background-color: var(--secondary);
        box-shadow: var(--box-shadow);
    }

    .sidebodydiv .container {
        margin: auto 0px;
    }

    .sidebodydiv .sdbdysearch {
        border: 1px solid var(--border);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        border-radius: 5px;
        height: 25px;
        width: 90%;
    }
    
    .sidebodydiv .sdbdysearch input {
        background-color: var(--secondary);
    }

    .sdbdysearch button {
        width: 15%;
        background-color: #6C757D;
        color: var(--secondary);
        border: none;
        height: 25px;
        border-radius: 0px 5px 5px 0px;
        margin: 0;
    }

    .sdbdysearch input {
        width: 85%;
        height: 23px;
    }

}