.table-wrapper::-webkit-scrollbar,
.dataTables_wrapper::-webkit-scrollbar {
    display: none !important;
}

.table>:not(caption)>*>* {
    background-color: transparent !important;
}

.table tbody tr {
    background-color: var(--trow-bg) !important;
    cursor: pointer;
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting:before {
    display: none !important;
}

table .form-select,
table .form-control {
    background-color: var(--secondary);
}

table.dataTable {
    margin: 10px 0px !important;
    border-collapse: collapse !important;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 1px;
}

.table thead {
    background-color: transparent;
}

.table tbody td img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* List */
.listtable {
    padding: 10px 0px;
    border-radius: 5px;
    /* border: 1px solid var(--border); */
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.filter-container-start {
    display: flex;
    align-items: center;
    justify-content: start;
}

.filter-container-start .form-select {
    background-color: transparent !important;
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}

.filter-container-start .form-control {
    background-color: transparent !important;
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 0px 5px 5px 0px;
    margin-left: 0px;
}

.filter-container-end {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-container-end .form-select {
    background-color: transparent !important;
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-left: 0px;
}

.table-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.table thead th {
    color: var(--text-primary);
    font-weight: var(--fw-sm);
    text-transform: uppercase;
}

.table tbody td,
.table tfoot td {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.table tbody .seen td {
    color: var(--tdata) !important;
    font-weight: var(--fw-sm) !important;
}

.table tbody .unseen td {
    color: var(--text-primary) !important;
    font-weight: var(--fw-lg) !important;
}

.table tbody td i {
    color: var(--text-primary);
    cursor: pointer;
}

.table select,
.table input {
    padding: 5px;
}

.page-link {
    font-size: 10px;
    color: var(--text-primary);
}

.active>.page-link,
.page-link.active {
    background-color: var(--main);
    border-color: var(--main);
    color: var(--secondary);
}

.bottom {
    display: flex;
    justify-content: end;
    align-items: center;
}

.dataTables_length,
.dataTables_filter {
    display: none;
}

.listcard {
    padding: 15px;
    background-color: var(--secondary);
    box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.05);;
    border: 1px solid var(--border);
    transition: var(--transition);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

.listcard h6 {
    font-size: 15px;
    font-weight: var(--fw-lg);
    margin-bottom: 0px;
}

.listcard h5 {
    font-size: 18px;
    font-weight: var(--fw-xl);
    margin-bottom: 0px;
}


@media screen and (min-width: 1140px) {

    /* List */
    .filter-container-start select,
    .filter-container-end select {
        width: 20%;
        font-size: 12px;
        padding: 5px 10px;
    }

    .filter-container-start input {
        width: 50%;
        font-size: 12px;
        padding: 5px 10px;
    }

    .dataTables_wrapper {
        width: 100% !important;
        overflow: auto;
    }

    .table thead th {
        font-size: 12px;
    }

    .table tbody td,
    .table tfoot td {
        font-size: 12px;
    }

    .table tbody td i {
        font-size: 15px;
    }

    .table select,
    .table input {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    /* List */
    .filter-container-start select,
    .filter-container-end select {
        width: 25%;
        font-size: 12px;
        padding: 3px 10px;
    }

    .filter-container-start input {
        width: 70%;
        font-size: 12px;
        padding: 3px 10px;
    }

    .dataTables_wrapper {
        width: 150% !important;
        overflow: auto;
    }

    .table thead th {
        font-size: 10px;
    }

    .table tbody td,
    .table tfoot td {
        font-size: 10px;
    }

    .table tbody td i {
        font-size: 15px;
    }

    .table select,
    .table input {
        font-size: 10px;
    }

}

@media screen and (max-width: 767px) {

    /* List */
    .filter-container {
        display: block;
        gap: 0px;
    }

    .filter-container-start select,
    .filter-container-end select {
        width: 40%;
        font-size: 12px;
        padding: 5px 10px;
    }

    .filter-container-start input {
        width: 60%;
        font-size: 12px;
        padding: 5px 10px;
    }

    .dataTables_wrapper {
        width: 300% !important;
        overflow: auto;
    }

    .filter-container-end,
    .filter-container-end div {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 10px;
    }

    .filter-container-end img {
        height: 30px !important;
    }

    .table thead th {
        font-size: 10px;
    }

    .table tbody td,
    .table tfoot td {
        font-size: 10px;
    }

    .table tbody td i {
        font-size: 15px;
    }

    .table select,
    .table input {
        padding: 5px;
    }

}