.modal {
    --bs-modal-padding: 0rem 1rem 1rem 1rem;
}

.modal-body {
    margin-top: 10px;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.modal-body::-webkit-scrollbar-track {
    background: #fff;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}

.modal-content {
    background-color: var(--secondary) !important;
}

.modal .form-control,
.modal .form-select {
    background-color: var(--bg) !important;
    color: var(--text-primary);
    border: 1px solid var(--border);
    font-weight: var(--fw-md);
    font-size: 14px;
}

.modal h4 {
    color: var(--text-primary);
    font-weight: var(--fw-xl);
    text-decoration: 1.5px underline solid var(--input-border);
    font-size: 18px;
}

.modal h6 {
    color: var(--text-primary);
    font-weight: var(--fw-md);
    font-size: 14px;
    margin-bottom: 0px;
}

.modal h6 span {
    color: var(--text-secondary);
}

.modal label {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    font-size: 14px;
    margin-bottom: 5px;
}

.modal .form-control:focus,
.modal .form-select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--border);
}

.modal table th {
    padding: 8px 5px;
    font-size: 12px;
    color: var(--text-primary);
    font-weight: var(--fw-xl);
    text-transform: uppercase;
    background-color: var(--bg) !important;
}

.modal table td {
    padding: 8px 5px;
    font-size: 12px;
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    background-color: var(--secondary);
}

@media screen and (min-width: 767px) {
    .modal-dialog {
        max-width: 600px;
    }
}