/* Navbar */
.navbar {
    width: 100%;
    background-color: var(--secondary);
    position: sticky;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border);
    z-index: 999 !important;
}

.navbar .icons .user,
.offcanvas-header .user {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 5px;
}

.navbar .icons .user h6,
.offcanvas-header .user h6 {
    margin-left: -10px;
    color: var(--text-primary);
    text-transform: capitalize;
}

.navbar .icons .user h6 span,
.offcanvas-header .user h6 span {
    color: var(--text-secondary);
    text-transform: capitalize;
}

/* User Dropdown */
.user-div {
    position: relative !important;
    cursor: pointer;
}

.user-div .maindropdown {
    position: absolute;
    top: 0%;
    background-color: var(--secondary);
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: none;
}

.user-div .maindropdown ul {
    margin-bottom: 0px;
}

.user-div .dropdownimg {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 70%;
    align-items: center;
    justify-content: space-between;
}

.user-div .dropdownimg img {
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.user-div .dropdownimg h5 {
    color: var(--text-primary);
    font-weight: var(--fw-md);
    margin-bottom: 5px;
}

.user-div .dropdownimg h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    margin-bottom: 0px;
}

.user-div .maindropdown li a img {
    height: 20px;
}

.user-div .maindropdown li a span {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    transition: var(--transition);
}

.user-div .maindropdown li a:hover span,
.user-div .maindropdown li a span:hover {
    color: var(--main);
}

@media screen and (min-width: 1140px) {

    /* Navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
    }

    .navbar .icons {
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 15px;
    }

    .navbar .icons .user img,
    .offcanvas-header .user img {
        height: 40px;
    }

    .navbar .icons .user h6,
    .offcanvas-header .user h6 {
        font-size: 12px;
    }

    .navbar .icons .user h6 span,
    .offcanvas-header .user h6 span {
        font-size: 10px;
    }

    .responsive_button,
    .navlogo {
        display: none;
    }

    /* User Dropdown */
    .user-div .maindropdown {
        right: 0%;
        width: 300px;
        padding: 20px;
    }

    .user-div .maindropdown ul {
        margin-top: 20px;
    }

    .user-div .dropdownimg img {
        height: 60px;
    }

    .user-div .dropdownimg h5 {
        font-size: 14px;
    }

    .user-div .dropdownimg h6 {
        font-size: 12px;
    }

    .user-div .maindropdown li a img {
        height: 20px;
    }

    .user-div .maindropdown li a span {
        font-size: 12px;
    }

}

@media screen and (min-width:767px) and (max-width:1140px) {

    /* Navbar */
    .navbar {
        display: block !important;
        padding: 10px 50px;
    }

    .navbar .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .user img,
    .offcanvas-header .user img {
        height: 35px;
    }

    .navbar .user h6,
    .offcanvas-header .user h6 {
        font-size: 12px;
    }
    
    .navbar .icons .user h6 span,
    .offcanvas-header .user h6 span {
        font-size: 10px;
    }

    .responsive_button {
        background-color: var(--secondary);
        color: var(--text-primary);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    /* User Dropdown */
    .user-div .maindropdown {
        right: 0%;
        width: 275px;
        padding: 15px;
    }

    .user-div .maindropdown ul {
        margin-top: 30px;
    }

    .user-div .dropdownimg img {
        height: 50px;
    }

    .user-div .dropdownimg h5 {
        font-size: 14px;
    }

    .user-div .dropdownimg h6 {
        font-size: 12px;
    }

    .user-div .maindropdown li a img {
        height: 20px;
    }

    .user-div .maindropdown li a span {
        font-size: 12px;
    }

}

/* Tablet View 2 */
@media screen and (max-width:767px) {

    /* Navbar */
    .navbar {
        display: block !important;
        padding: 10px 5px !important;
    }

    .navbar .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .user {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .navbar .user img,
    .offcanvas-header .user img {
        height: 35px;
    }

    .navbar .user h6,
    .offcanvas-header .user h6 {
        font-size: 10px;
        padding: 5px 12px !important;
    }
    
    .navbar .icons .user h6 span,
    .offcanvas-header .user h6 span {
        font-size: 8px;
    }

    .responsive_button {
        background-color: var(--secondary);
        color: var(--text-primary);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .navbar .user-div {
        display: none;
    }

    /* User Dropdown */
    .user-div .maindropdown {
        left: 0% !important;
        width: 300px;
        padding: 10px;
        display: none;
    }

    .user-div .maindropdown ul {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .user-div .dropdownimg img {
        height: 60px;
        position: relative;
    }

    .user-div .dropdownimg h5 {
        font-size: 14px;
    }

    .user-div .dropdownimg h6 {
        font-size: 12px;
    }

    .user-div .maindropdown li a img {
        height: 20px;
    }

    .user-div .maindropdown li a span {
        font-size: 12px;
    }

}