body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--secondary);
    font-family: var(--main-font);
    /* user-select: none; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
    cursor: pointer;
}

input {
    outline: none;
}

input:focus {
    border: 1px solid #228BE6;
}

label span {
    color: var(--mandatory);
}

html::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

html::-webkit-scrollbar-track {
    background: #f4f4f4;
}

html::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}

.text-danger {
    color: var(--red) !important;
}

.text-success {
    color: var(--green) !important;
}

.text-warning {
    color: var(--yellow) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-brown {
    color: var(--brown) !important;
}