/* Button */
/* Aside Button */
.asidebtn {
    background-color: transparent;
    color: var(--text-secondary);
    padding: 6px 10px;
    border: 2px solid transparent;
    width: 90%;
    font-weight: var(--fw-sm);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

/* List Button */
.listbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 5px;
}

/* Form Button */
.formbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 5px;
}

/* List td Button */
.listtdbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 1px solid var(--main);
    border-radius: 2px;
}

/* Export Button */
.exportbtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    padding: 4px 20px;
}

/* Profile tabs */
.profiletabs {
    background-color: transparent;
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    border: none;
    border-bottom: 2px solid transparent;
    transition: var(--transition);
}

/* Modal Button */
.modalbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 1px solid var(--main);
    border-radius: 5px;
}

/* Cancel Button */
.cancelbtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 1px solid var(--main);
    border-radius: 5px;
}

/* Icon Button */
.iconbtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.iconbtn a {
    color: var(--text-primary);
}

/* Head Button */
.headbtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    padding: 6px 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--fw-md);
}

/* Box Shadow / Transition */
.modalbtn,
.cancelbtn,
.listbtn,
.formbtn,
.listtdbtn,
.exportbtn,
.iconbtn,
.headbtn {
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

/* Button Hover */
.asidebtn.active,
.asidebtn:hover {
    background-color: var(--bg);
    color: var(--text-primary);
    border: 2px solid var(--primary);
}

.cancelbtn:hover {
    background-color: var(--main);
    color: var(--secondary);
}

.headbtn.active,
.headbtn:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.listbtn:hover,
.formbtn:hover,
.modalbtn:hover,
.listtdbtn:hover {
    background-color: var(--secondary);
    color: var(--text-primary);
}

.exportbtn:hover {
    background-color: var(--text-primary);
    color: var(--secondary);
}

.profiletabs:hover,
.profiletabs.active {
    color: var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
}

.iconbtn:hover {
    border: 1px solid var(--text-primary);
}

@media screen and (min-width: 1140px) {

    /* List Button */
    .listbtn {
        font-size: 12px;
        padding: 4px 20px;
    }

    .listtdbtn {
        font-size: 10px;
    }

    /* Form Button */
    .formbtn {
        font-size: 14px;
        padding: 5px 30px;
    }

    /* Export Button */
    .exportbtn {
        font-size: 12px;
    }

    /* Profile tabs */
    .profiletabs {
        font-size: 12px;
    }

    /* Modal Button / Cancel Button */
    .modalbtn,
    .cancelbtn {
        font-size: 14px;
        padding: 5px 20px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    /* List Button */
    .listbtn {
        font-size: 12px;
        padding: 4px 20px;
    }

    .listtdbtn {
        font-size: 10px;
    }

    /* Form Button */
    .formbtn {
        font-size: 14px;
        padding: 5px 30px;
    }

    /* Export Button */
    .exportbtn {
        font-size: 12px;
    }

    /* Profile tabs */
    .profiletabs {
        font-size: 12px;
    }

    /* Modal Button / Cancel Button */
    .modalbtn,
    .cancelbtn {
        font-size: 14px;
        padding: 5px 20px;
    }

}

@media screen and (max-width: 767px) {

    /* List Button */
    .listbtn,
    .modalbtn,
    .cancelbtn {
        font-size: 12px;
        padding: 4px 10px;
    }

    .listtdbtn {
        font-size: 10px;
    }

    /* Form Button */
    .formbtn {
        font-size: 14px;
        padding: 5px 30px;
    }

    /* Export Button */
    .exportbtn {
        font-size: 12px;
    }

    /* Profile tabs */
    .profiletabs {
        font-size: 12px;
    }

    /* Modal Button / Cancel Button */
    .modalbtn,
    .cancelbtn {
        font-size: 12px;
        padding: 5px 20px;
    }

}