:root {
    --main: #2C3E50;
    --bg: #F9F9F9;
    --primary: #1f1f1f;
    --secondary: #fff;
    --tertiary: #eee;
    --text-primary: #1F1F1F;
    --text-secondary: #5a6272;
    --label: #667085;
    --border: #D9D9D9;
    --input-border: #d5d5d5;
    --input-bg: #F4F5F9;
    --table-border: #EAECF0;
    --trow-bg: #ffffff;
    --thead-bg: #f5f5f5;
    --mandatory: #ff0000;
    --gray: #888;
    --green: #037847;
    --red: #d40000;
    --blue: #5367B5;
    --brown: #CB514B;
    --yellow: #F2D269;
    --box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
    --transition: 0.3s ease-in-out;

    --main-font: "Source Sans 3", sans-serif;
    --fw-sm: 400;
    --fw-md: 500;
    --fw-lg: 600;
    --fw-xl: 700;
    --fw-xxl: 800;
}