.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#logo-svg {
    height: 250px;
    width: 250px;
    stroke: var(--secondary);
    stroke-width: 1px;
    stroke-dasharray: 1000;
    animation: draw 10s ease;
}

.svg-path {
    stroke: var(--text-primary);
    stroke-width: 1;
    fill-opacity: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke: transparent;
    }
}
