.main {
    width: 100%;
    display: grid;
    grid-template-columns: 17% 83%;
    justify-content: space-evenly;
}

.body-main {
    width: 100%;
    margin: 0px auto;
    background-color: var(--bg);
    box-shadow: inset 0rem 0 1.5rem 0 rgba(0, 0, 0, .075);
}

.body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.body-div {
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    width: 98%;
    margin: auto;
}

.body-head h4 {
    color: var(--text-primary);
    font-weight: var(--fw-xl);
    margin-bottom: 0px;
}

.body-head h5 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    text-decoration: 1.5px underline solid var(--input-border);
    margin-bottom: 0px;
}

.body-head h5 span {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.body-head h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    margin-bottom: 0px;
}

.body-div .body-head .form-select,
.body-div .body-head .form-control {
    width: 150px;
    border: 1px solid var(--input-border);
    font-size: 12px;
}

@media screen and (min-width: 1140px) {

    /* Main Side-Body */
    .body-div {
        margin-top: 20px;
    }

    .body-head h4 {
        font-size: 16px;
    }

    .body-head h5 {
        font-size: 14px;
    }

    .body-head h6 {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    /* Main Side-Body */
    .main {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .body-main {
        width: 98%;
    }

    .body-div {
        margin-top: 10px;
        padding: 5px 8px !important;
    }

    .body-head h4 {
        font-size: 16px;
    }

    .body-head h5 {
        font-size: 14px;
    }

    .body-head h6 {
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {

    /* Main Side-Body */
    .main {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .body-main {
        width: 98%;
    }

    .body-div {
        margin-top: 10px;
        padding: 10px 5px !important;
    }

    .body-head {
        gap: 10px;
    }

    .body-head h4 {
        font-size: 15px;
    }

    .body-head h5 {
        font-size: 12px;
    }

    .body-head h6 {
        font-size: 10px;
    }

}