.cardsdiv {
    padding: 15px;
    background-color: var(--secondary);
    box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.05);;
    border: 1px solid var(--border);
    transition: var(--transition);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

/* .cards .cardsdiv:hover {
    background-color: var(--tertiary);
} */

.apexcharts-toolbar,
.cardsdiv::-webkit-scrollbar {
    display: none !important;
}

.cardsmain,
.cardshead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsmain h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    margin-bottom: 10px;
}

.cardsmain h5 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    margin-bottom: 0px;
}

.cardshead h6 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    margin-bottom: 5px;
}

.cardshead h5 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    margin-bottom: 0px;
}

.cardssub {
    display: grid;
    grid-template-columns: 31% 3% 31% 3% 31%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.cardssub h6 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
    margin-bottom: 5px;
}

.cardssub h5 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    margin-bottom: 0px;
}

.cardssub .brdr {
    width: 1px;
    height: 100%;
    background-color: var(--border);
    /* display: block;
    margin: auto; */
}

@media screen and (min-width: 1140px) {

    /* Card CSS */
    .cardsmain h5 {
        font-size: 18px;
    }

    .cardshead h6,
    .cardssub h6 {
        font-size: 12px;
    }

    .cardsmain h6,
    .cardshead h5,
    .cardssub h5 {
        font-size: 14px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    /* Card CSS */
    .cardsmain h5 {
        font-size: 16px;
    }

    .cardshead h6,
    .cardssub h6 {
        font-size: 12px;
    }
    
    .cardsmain h6,
    .cardshead h5,
    .cardssub h5 {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px) {

    /* Card CSS */
    .cardsmain h5 {
        font-size: 18px;
    }

    .cardshead h6,
    .cardssub h6 {
        font-size: 12px;
    }
    
    .cardsmain h6,
    .cardshead h5,
    .cardssub h5 {
        font-size: 14px;
    }

}